// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#define ZMK_POINTING_DEFAULT_MOVE_VAL 2500// 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30// 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define NAV  1
#define SYM  2
#define FUNC 3
#define CONF 4
#define GAME 5

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;// 1
            time-to-max-speed-ms = <300>;// 40
            delay-ms = <0>;// 0
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "DEF";
            bindings = <
&kp B             &kp L        &kp D           &kp W           &kp Z        &kp SINGLE_QUOTE  &kp F  &kp O                &kp U             &kp J
&kp N             &kp R        &kp T           &kp S           &kp G        &kp Y             &kp H  &kp A                &kp E             &kp I
&ht LEFT_SHIFT Q  &ht LCTRL X  &ht LEFT_GUI M  &ht LEFT_ALT C  &kp V        &kp K             &kp P  &ht RIGHT_GUI COMMA  &ht RCTRL PERIOD  &ht RIGHT_SHIFT FSLH
                                               &mo 2           &kp SPACE    &mo 1             &mo 3
            >;
        };

        right_layer {
            display-name = "NAV";
            bindings = <
&mkp MB3  &mkp MB2        &mmv MOVE_UP    &mkp MB1         &msc SCRL_UP       &kp PAGE_UP    &kp PAGE_DOWN    &kp HOME  &kp END     &kp DELETE
&studio_unlock    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN     &kp LEFT       &kp DOWN         &kp UP    &kp RIGHT   &kp ENTER
&trans    &kp X           &kp TAB         &msc SCRL_LEFT   &msc SCRL_RIGHT    &kp LS(LC(T))  &kp PRINTSCREEN  &kp TAB   &kp ESCAPE  &tog 1
                                          &kp LEFT_ALT     &kp BACKSPACE      &trans         &trans
            >;
        };

        left_layer {
            display-name = "SYM";
            bindings = <
&kp EXCL   &kp AT     &kp HASH              &kp DLLR               &kp PRCNT    &kp CARET  &kp AMPS        &kp ASTRK          &kp MINUS     &kp EQUAL
&kp GRAVE  &kp TILDE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON    &kp PIPE   &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp UNDER     &kp PLUS
&trans     &trans     &kp LBKT              &kp RBKT               &kp SEMI     &trans     &kp BSLH        &kp DOUBLE_QUOTES  &kp QUESTION  &kp FSLH
                                            &trans                 &trans       &trans     &trans
            >;
        };

        tri_layer {
            display-name = "FUNC";
            bindings = <
&trans  &kp F7  &kp F8  &kp F9  &kp F10    &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp CAPSLOCK
&trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &mo 4
&trans  &kp F1  &kp F2  &kp F3  &kp F12    &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &tog 5
                        &trans  &trans     &trans        &trans
            >;
        };

        config_layer {
            display-name="CONF";
            bindings = <
&bootloader  &trans  &trans  &bt BT_CLR  &bt BT_SEL 0    &bt BT_SEL 3  &trans  &trans  &trans  &bootloader
&trans       &trans  &trans  &trans      &bt BT_SEL 1    &bt BT_SEL 4  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans      &bt BT_SEL 2    &trans        &trans  &trans  &trans  &trans
                             &trans      &trans          &trans        &trans
            >;
        };

        gaming_layer {
            display-name = "GAME";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E    &kp R        &kp T   &kp Y   &kp U  &kp I      &kp O
&kp LSHFT   &kp A  &kp S  &kp D    &kp F        &kp G   &kp H   &kp J  &kp K      &kp L
&trans      &kp Z  &kp X  &kp C    &kp V        &kp B   &kp N   &kp M  &kp COMMA  &kp DOT
                          &kp TAB  &kp SPACE    &trans  &tog 5
            >;
        };
    };
};
